#html-style {
	text-align: center;
	background-color: white;
	background-image: url();
}

.color-style {
	color: black;
}

.general-font {
  font-size: 20px;
}
 		
.bg-img {
  /* The image used */
  background-image: url("Assets/CW-Commitment-Initiative-Banner2.png");

  min-height: 380px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

/* Position the navbar container inside the image */
.container {
  position: absolute;
  margin: 320px;
  width: auto;
}

/* The navbar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}


/*D3 Regional Gaps Graph styling starts here*/
#graphic body {
            font-family: "Arial", sans-serif;
        }
        
#graphic .bar {
            fill: #5f89ad;
        }
        
#graphic .axis {
            font-size: 18px;
            font-weight: bold;
        }
        
#graphic .axis path,
#graphic .axis line {
            fill: none;
            display: none;
        }
        
#graphic .label {
            font-size: 16px;
        }

#graphic {
          padding-left: 350px;
          padding-right: 350px;
}

/*D3 Regional Gaps Graph styling end here*/



/*D3 Country Gaps Graph styling start here*/

#graphic2 .axis path,
#graphic2 .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#graphic2 .bar {
  fill: #5f89ad;
}

#graphic2 .bar:hover {
  fill: #2596be ;
}

#graphic2 .x.axis path {
  display: none;
}

#graphic2 .d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
#graphic2 .d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
#graphic2 .d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

#graphic2 {
          padding-left: 350px;
          padding-right: 350px;
}

/*D3 Country Gaps Graph styling end here*/


/*Recommendations page start here*/

.row {
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
}

.column1 {
    float: left;
    width: 25%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 20px;
}

/*Recommendations page end here*/

/*Graph styling starts here*/

#graph-title {
  font-size: 30px;
  text-align: left;
  padding-left: 350px;
  padding-right: 350px;
}

#graph-subtitle {
  font-size: 20px;
  text-align: left;
  padding-left: 350px;
  padding-right: 350px;
}

#graph-title2 {
  font-size: 30px;
  text-align: left;
  padding-left: 350px;
  padding-right: 250px;
}

#graph-subtitle2 {
  font-size: 20px;
  text-align: left;
  padding-left: 350px;
  padding-right: 250px;
}

#graph-commentary {
  font-size: 15px;
  text-align: left;
  padding-left: 350px;
  padding-right: 300px;
}

/*Graph styling ends here*/

/*Footer bar styling starts here*/
.footerbar {
    font-family: Georgia;
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
    text-align: center;
    background-color: #007c7d !important;
    clear: both;
    color: white;
    opacity: .7;
    padding-top: 2px;
/*    position: absolute;*/
    z-index: 100;
    left: 0;
    height: 55px;
}
/*Footer bar styling ends here*/

/*Graphnote styling starts here*/

.graphnote {
    font-family: Arial;
    font-size: 15px;
}

/*Graphnote styling ends here*/