#html-style {
	text-align: center;
	background-color: white;
	background-image: url();
	font-family: "Times New Roman", Times, serif;
}
.color-style {
	color: black;
}

.img-size {
	height: 25%;
  	width: 25%;
}

p{
	text-align: justify-all;
}