#html-style {
	background-color: white;
	background-image: url();
}

.color-style {
	color: black;
}
 		
.bg-img {
  /* The image used */
  background-image: url("../Assets/CW-Commitment-Initiative-Banner2.png");

  min-height: 380px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

/* Position the navbar container inside the image */
.container {
  position: absolute;
  margin: 320px;
  width: auto;
  padding-left: 75px;
}

/* The navbar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.img-size {
	height: 25%;
  	width: 25%;
}

/*p{
	text-align: justify-all;
}*/

.row {
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
}

.column1 {
    float: left;
    width: 18%;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 15px;
}

.blankrow1 {
    text-align: center;
    width: 15%;
    padding-left:15%;
}

.blankrow2 {
    text-align: left;
    width: 25%;
    font-size:1em
}

.column-icon {
    float: left;
    width: 15%;
    text-align: left;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left:8%;
    font-size: 18px;
}

.column-icon-png {
    width:160px;
    height:160px;
}

.column-icon-png-naman {
    width:220px;
    height:160px;
}
.linkedin-logo {
  text-align: right;
  width: 50px;
  height: 50px
}

.github-logo {
  text-align: center;
  width: 75px;
  height: 45px
}

.column-text1 {
    float: left;
    width: 18%;
    text-align: left;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left:7%;
    font-size: 1em;
}

.column-text2 {
    float: left;
    width: 18%;
    text-align: left;
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left:5%;
    font-size: 1em;
}

.blankrow1 {
    text-align: center;
    width: 15%;
    padding-left:15%;
}

.blankrow2 {
    text-align: left;
    width: 25%;
    font-size:1em
}

/*Footer bar styling starts here*/
.footerbar {
    font-family: Arial;
    font-size: 18px;
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
    text-align: center;
    background-color: #007c7d !important;
    clear: both;
    color: white;
    opacity: .7;
    padding-top: 1px;
    z-index: 100;
    left: 0;
    height: 55px;
}
/*Footer bar styling ends here*/